:host{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2%;
  overflow-y: scroll;

  &::-webkit-scrollbar{
    display: none;
  }
}

.pokemon-card-wrapper {
  min-width: calc(100% / 7);
  height: 20%;
}