<mat-sidenav-container class="side-nav-wrapper">
  <mat-sidenav class="side-nav-drawer" [opened]="sidenavService.sidenavState$ |async">
    <div>
      Current Party
    </div>
    <!-- TODO First check if array is empty then loop through the party array and display the pokemon. -->
    <ng-container *ngIf="(currentParty$ | async).length < 1; else partyDisplay">
      <div>
        <p>No Pokemon in your party!</p>
      </div>
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content class="side-nav-content">
    <ng-container *ngFor="let pokemon of pokemonList">
      <pokemon-card class="pokemon-card-wrapper" [pokemon]="pokemon" (pokemonData)="getSelectedPokemon($event)"/>
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #partyDisplay >
  <ng-container *ngFor="let member of currentParty$ |async">
    <!-- TODO Add a material card for each pokemon. -->
    <p>{{member.name}}</p>
  </ng-container>
</ng-template>