<mat-sidenav-container class="side-nav-wrapper">
  <mat-sidenav class="side-nav-drawer" [opened]="sidenavService.sidenavState$ |async">
    <div>
      Current Party : {{ currentParty$ | async }}
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="side-nav-content">
    <ng-container *ngFor="let pokemon of pokemonList">
      <pokemon-card class="pokemon-card-wrapper" [pokemon]="pokemon" (pokemonData)="getSelectedPokemon($event)"/>
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>