$primary-bg-color: #1f2128;

:host{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:center;
}

.side-nav-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: $primary-bg-color;
}

// .side-nav-drawer {
//   display: none;
// }

.closed {
  display: none;
}

.side-nav-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.pokemon-card-wrapper {
  min-width: calc(100% / 7);
  height: 20%;
}