// General colors
$card-bg-color: #343846;
$card-font-color: #ebedf2;

// Pokemon type colors
$grass-bg-color: #77cc55;
$fire-bg-color: #fd4423;
$water-bg-color: #3399ff;
$normal-bg-color: #aaaa99;
$electric-bg-color: #fecc33;
$ice-bg-color: #66ccff;
$fighting-bg-color: #bb5544;
$poison-bg-color: #aa5599;
$ground-bg-color: #ddbb55;
$flying-bg-color: #8899ff;
$psychic-bg-color: #fd5599;
$bug-bg-color: #aabb21;
$rock-bg-color: #bbaa66;
$ghost-bg-color: #6666bb;
$dragon-bg-color: #7766ee;
$dark-bg-color: #775544;
$steel-bg-color: #aaaabb;
$fairy-bg-color: #ee99ee;


.pokemon-card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out .3s;
  background-color: $card-bg-color;
  color: $card-font-color;
}

.pokemon-card-header {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.pokemon-card-content {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

// .pokemon-img {
//   background-color: #fffff3;
//   border-radius: 3px !important;
// }

.grass {
  &:hover{
    background-color: $grass-bg-color;
  }
}

.fire {
  &:hover{
    background-color: $fire-bg-color
  }
}

.water {
  &:hover {
    background-color: $water-bg-color;
  }
}

.normal {
  &:hover {
   background-color: $normal-bg-color;
  }
}

.electric {
  &:hover {
    background-color: $electric-bg-color;
  }
}

.ice {
  &:hover {
    background-color: $ice-bg-color;
  }
}

.fighting {
  &:hover {
    background-color: $fighting-bg-color;
  }
}

.poison {
  &:hover {
    background-color: $poison-bg-color;
  }
}

.ground {
  &:hover {
    background-color: $ground-bg-color;
  }
}
  
.flying {
  &:hover {
    background-color: $flying-bg-color;
  }
}

.psychic {
  &:hover {
    background-color: $psychic-bg-color;
  }
}

.bug {
  &:hover {
    background-color: $bug-bg-color;
  }
}

.rock {
  &:hover {
    background-color: $rock-bg-color;
  }
}

.ghost {
  &:hover {
    background-color: $ghost-bg-color;
  }
}

.dragon {
  &:hover {
    background-color: $dragon-bg-color;
  }
}

.dark {
  &:hover {
    background-color: $dark-bg-color;
  }
}

.steel {
  &:hover {
    background-color: $steel-bg-color;
  }
}

.fairy {
  &:hover {
    background-color: $fairy-bg-color;
  }
}