:host{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.site-header {
  height: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-display {
  height: 95%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-wrapper{
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 3%;
}