/* You can add global styles to this file, and also import other style files */
* {
  background-color: gray;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center; 
  width: 100vw;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  
}
// html, body { height: 100%; }

